@font-face {
    font-family: 'pixel-style';
    src: url('../assets/pixel-style.ttf');
}

body {
  background-color: #333;
}

#nunumbers {
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  cursor: pointer;
  font-family: pixel-style;
}